@model EquipmentManager.Models.Phongban

@{
    ViewBag.Title = "Phòng ban";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa phòng ban</h2>

<h3>Bạn chắc chắn muốn xóa phòng ban này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenphong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenphong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phutrach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phutrach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
