@model EquipmentManager.Models.Phongban

@{
    ViewBag.Title = "Phòng ban";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenphong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenphong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phutrach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phutrach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
