@model EquipmentManager.Models.Thietbi

@{
    ViewBag.Title = "Thiết bị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa thiết bị</h2>

<h3>Bạn chắc chắn muốn xóa thiết bị này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenthietbi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenthietbi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaymua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaymua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
