@model EquipmentManager.Models.Baoduong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Baoduong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThietbiId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThietbiId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lanbaoduong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lanbaoduong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaybaoduong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaybaoduong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
